<%- include('partials/header') %>

<body>
    <%- include('partials/menu') %>
    <section
        class="container-fluid px-0 bg-img bg-catskill-white d-flex flex-column justify-content-center justify-content-sm-start">
        <%- include('partials/alert.ejs') %>
        <%- include('partials/nav.ejs') %>
        <header class="jumbotron container expand jumbotron-fluid bg-transparent expand mb-0 px-4 px-sm-0">
            <div class="row mx-0 mb-5">
                <div class="col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3 mt-3 px-0">
                    <img loading="lazy" src="images/IEEE_logo.svg"
                        class="img-fluid pr-4 d-inline-block border-right border-secondary opacity-blue-30 w-50"
                        alt="IEEE Logo"><img loading="lazy" src="images/logo-1.png"
                        class="img-fluid pl-4 w-33 d-inline-block" alt="CICT Logo">
                </div>
            </div>
            <hr class="border-0 my-5"
                style="height: 3px; background-image: linear-gradient(to right, rgba(0, 104, 148, 0.75), rgba(0, 104, 148, 0));">
            <h1 class="font-size-4">About</h1>
        </header>
    </section>
    <section class="container-fluid py-5">
        <div class="container expand pt-5 mt-5">
            <h1 class="font-size-2 text-bahama-blue font-weight-bold">About CICT</h1>
            <p class="font-size-1 text-secondary">The Conference on Information and Communication Technology (CICT) is
                the annual
                flagship conference jointly organized by the five Ministry of Human Resources Development (MHRD)-funded
                Indian Institutes of Information Technology (IIITs) namely, Atal Bihari Vajpayee Indian Institute of
                Information Technology and Management (ABV-IIITM) Gwalior, IIIT Allahabad, PDPM - Indian Institute of
                Information Technology Design and Manufacturing (IIITDM) Jabalpur, IIITDM Kancheepuram and IIITDM
                Kurnool. CICT aims to provide a forum for researchers, industry professionals, and academicians to
                present and exchange their ideas in latest technological advancements and innovations in the field of
                Information and Communication Technology.</p>
        </div>
        <div class="container expand py-5 my-5">
            <h1 class="font-size-2 text-bahama-blue font-weight-bold">CICT History</h1>
            <ul class="text-secondary list-unstyled font-size-1">
                <li class="my-1">2019 IIIT Allahabad</li>
                <li class="my-1">2018 PDPM-IIITDM Jabalpur</li>
                <li class="my-1">2017 ABV-IIITM Gwalior</li>
            </ul>
        </div>
    </section>
    <%- include('partials/footer') %>