<%- include('partials/header') %>
</head>

<body>
    <%- include('partials/menu') %>
    <section class="container-fluid px-0 bg-img bg-catskill-white d-flex flex-column">
        <%- include('partials/alert.ejs') %>
        <%- include('partials/nav.ejs') %>
        <header class="jumbotron container expand jumbotron-fluid bg-transparent expand mb-0 px-4 px-sm-0">
            <div class="row mx-0 mb-5">
                <div class="col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3 mt-3 px-0">
                    <img loading="lazy" src="images/IEEE_logo.svg"
                        class="img-fluid pr-4 d-inline-block border-right border-secondary opacity-blue-30 w-50"
                        alt="IEEE Logo"><img loading="lazy" src="images/logo-1.png"
                        class="img-fluid pl-4 w-33 d-inline-block" alt="CICT Logo">
                </div>
            </div>
            <hr class="border-0 my-5"
                style="height: 3px; background-image: linear-gradient(to right, rgba(0, 104, 148, 0.75), rgba(0, 104, 148, 0));">
            <h1 class="font-size-4">Call for Papers</h1>
            <h1 class="font-size-2 mt-4">IEEE Conference Record Number: 48419</h1>
        </header>
        <div class="row mx-0 row-cols-2 row-cols-sm-6 mt-auto justify-content-end text-center">
            <div class="py-4 bg-bahama-blue">
                <div class="col border-right py-4 opacity-white-20">
                    <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <a href="" class="text-white">Quick Download</a>
                    </div>
                </div>
            </div>
            <div class="py-4 bg-bahama-blue">
                <div class="col border-left border-right py-4 opacity-white-20">
                    <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <a href="" class="text-white">Quick Download</a>
                    </div>
                </div>
            </div>
            <div class="py-4 bg-bahama-blue">
                <div class="col border-left border-right py-4 opacity-white-20">
                    <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <a href="" class="text-white">Quick Download</a>
                    </div>
                </div>
            </div>
            <div class="py-4 bg-bahama-blue">
                <div class="col border-left py-4 opacity-white-20">
                    <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <a href="" class="text-white">Quick Download</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid bg-white py-5">
        <section class="container expand py-5 my-5 text-secondary">
            <header>
                <p class="font-size-1">The <span class="text-bahama-blue font-weight-medium">4th Conference on
                        Information and Communication Technology</span> will be held at the Indian Institute of
                    Information Technology, Design and Manufacturing Kancheepuram, Chennai during 3-5 December, 2020.
                    CICT is a premier international technical conference jointly organized by the five MHRD funded
                    IIITs.</p>
                <p class="font-size-1">CICT 2020 is expected to bring together researchers, educators, students,
                    practitioners and technocrats from across academia, industry and other organizations to discuss,
                    share and promote current works and recent accomplishments across the various emerging technologies
                    in the domain of communication and information technology.</p>
                <p class="font-size-1">Prospective authors are invited to submit full papers (maximum four pages)
                    with <span class="text-bahama-blue font-weight-medium">double column</span> IEEE conference
                    format. The conference proceedings will be submitted to the <span
                        class="text-bahama-blue font-weight-medium">IEEE Xplore&reg; digital library</span>.</p>
            </header>
            <main>
                <div class="my-4">
                    <button
                        class="btn btn-outline-bahama-blue font-size-1 text-uppercase font-weight-bold my-5">conference
                        tracks</button>
                </div>
                <div class="container-fluid">
                    <%- include('partials/topics', {tracks: tracks}) %>
                </div>
                <div class="my-5 py-5" id="guidelines">
                    <h1 class="font-size-2 text-bahama-blue font-weight-bold">Submission Guidelines</h1>
                    <p class="font-size-1">
                        Paper Submission Full length (up to six pages long) PDF manuscripts can be submitted on
                        EASYCHAIR. Manuscript templates for LaTeX and Microsoft Word are at IEEE. All submissions must
                        be in English only. Full details of submission procedures and requirements for authors of
                        accepted papers are available at submission guidelines. Accepted papers will be
                        submitted for inclusion into IEEE Xplore.</p>
                    <a href="" class="text-bahama-blue font-size-1 font-weight-medium">Submission page URL: Easy
                        Chair</a>
                </div>
                <div id="dates">
                    <h1 class="font-size-2 text-bahama-blue font-weight-bold">Important Dates
                    </h1>
                    <ul class="list-unstyled font-size-1">
                        <li>Full Paper Submission Deadline: <strong>August 31, 2020</strong></li>
                        <li>Notification of Paper Acceptance: <strong>October 15, 2020</strong></li>
                        <li>Early Bird Registration: <strong>October 31, 2020</strong></li>
                        <li>Camera ready Submission Deadline: <strong>October 31, 2020</strong></li>
                    </ul>
                </div>
            </main>
        </section>
    </section>
    <%- include('partials/footer') %>