<%- include('partials/header') %>
<style>
    .border-bottom-secondary {
        border-bottom: 0.125em solid var(--secondary);
        border-radius: 0;
    }
</style>
</head>

<body class="text-justify">
    <%- include('partials/menu') %>
    <%- include('partials/sticky-nav') %>
    <section class="container-fluid px-0 bg-img bg-catskill-white d-flex flex-column">
        <%- include('partials/alert.ejs') %>
        <%- include('partials/nav.ejs') %>
        <header class="jumbotron container expand jumbotron-fluid bg-transparent expand mb-0 px-4 px-sm-0">
            <div class="row mx-0 mb-5">
                <div class="col-12 col-sm-7 col-md-6 col-lg-4 col-xl-4 mt-3 px-0">
                    <img loading="lazy" src="images/IEEE_logo.svg"
                        class="img-fluid pr-4 d-inline-block border-right border-secondary opacity-blue-30 w-50"
                        alt="IEEE Logo"><img loading="lazy" src="images/logo-1.png"
                        class="img-fluid pl-4 w-33 d-inline-block" alt="CICT Logo">
                </div>
            </div>
            <hr class="border-0 my-5"
                style="height: 3px; background-image: linear-gradient(to right, rgba(0, 104, 148, 0.75), rgba(0, 104, 148, 0));">
            <h1 class="font-size-4">Call for Papers</h1>
            <h1 class="font-size-2 mt-4">IEEE Conference Record Number: 51604</h1>
        </header>
        <div class="row mx-0 row-cols-2 row-cols-sm-6 mt-auto justify-content-end text-center">
            <div class="py-4 bg-bahama-blue">
                <div class="col border-right py-4 opacity-white-20">
                    <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <a target="_blank" href="/brochures/cict2020_cfp.pdf" class="text-white">Download Brochure</a>
                    </div>
                </div>
            </div>
            <div class="py-4 bg-bahama-blue">
                <div class="col border-left border-right py-4 opacity-white-20">
                    <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <a href="" class="text-white">Quick Download</a>
                    </div>
                </div>
            </div>
            <div class="py-4 bg-bahama-blue">
                <div class="col border-left border-right py-4 opacity-white-20">
                    <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <a href="" class="text-white">Quick Download</a>
                    </div>
                </div>
            </div>
            <div class="py-4 bg-bahama-blue">
                <div class="col border-left py-4 opacity-white-20">
                    <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <a href="" class="text-white">Quick Download</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid bg-white py-5">
        <section class="container expand py-5 my-5 text-secondary">
            <header>
                <p class="font-size-1">The <span class="text-bahama-blue font-weight-medium">4th Conference on
                        Information and Communication Technology</span> will be held at the Indian Institute of
                    Information Technology, Design and Manufacturing Kancheepuram, Chennai during 3-5 December, 2020.
                    CICT is a premier international technical conference jointly organized by the five MHRD funded
                    IIITs.</p>
                <p class="font-size-1">CICT 2020 is expected to bring together researchers, educators, students,
                    practitioners and technocrats from across academia, industry and other organizations to discuss,
                    share and promote current works and recent accomplishments across the various emerging technologies
                    in the domain of communication and information technology.</p>
                <p class="font-size-1">Prospective authors are invited to submit full papers (maximum four pages)
                    with <span class="text-bahama-blue font-weight-medium">double column</span> IEEE conference
                    format. The conference proceedings will be submitted to the <span
                        class="text-bahama-blue font-weight-medium">IEEE Xplore&reg; digital library</span>.</p>
            </header>
            <main>
                <div class="pt-5">
                    <h2 class="text-bahama-blue font-size-2 font-weight-bold my-5">Conference
                        Tracks</h2>
                </div>
                <div class="container-fluid px-0 text-left">
                    <%- include('partials/topics', {tracks: tracks}) %>
                </div>
                <div class="my-5 pt-5" id="guidelines">
                    <h1 class="font-size-2 text-bahama-blue font-weight-bold">Submission Guidelines</h1>
                    <ul class="font-size-1">
                        <li class="mb-2">Prospective authors are invited to submit original technical papers for publication in the
                            CICT 2020 Conference Proceedings and for presentation at the Conference.</li>
                        <li class="mb-2">All submissions should be written in English with a maximum page length of SIX (6) printed
                            pages. Papers should be in PDF format, two columns, (minimum 10-point font) or greater and
                            compliant with other CICT 2020 manuscript guidelines.</li>
                        <li class="mb-2">Please note that CICT 2020 will follow a <span class="font-weight-medium">double-blind
                                review process</span>. All
                            submitted papers will be judged based on their quality, presentation and relevance through a
                            double-blind review process, where the identities of the authors are withheld from the
                            reviewers. Therefore, the authors are required to preserve the anonymity of submission,
                            while at the same time allowing the reader to fully grasp the context of related past work,
                            including their own. Papers that do not conform to our double-blind submission policies will
                            be rejected without review.</li>
                        <li class="mb-2">Prospective authors are kindly invited to submit papers electronically to CICT 2020 through
                            Easy Chair. For submission of paper, at least one of the Authors of the paper should be a
                            registered user of Easy Chair. <span class="font-weight-medium">Unregistered authors should
                                first create an account
                                on Easy Chair</span>. To submit your paper visit:
                            <a href="https://easychair.org/conferences/?conf=cict2020" target="_blank"
                                class="text-bahama-blue ltr-bahama-blue font-size-1 font-weight-medium mb-4" rel="noreferrer">
                                Easy Chair: https://easychair.org/conferences/?conf=cict2020
                            </a>
                        </li>
                        <li class="mb-2">Remove the names and affiliations of authors from the title page of the PDF file that you
                            will submit for review. This information needs to be included in the final camera-ready
                            manuscript if your paper gets accepted. During the review manuscript submission, you need
                            to include all the author details only at the EasyChair submission page. <span
                                class="font-weight-medium">The PDF
                                file of the review manuscript should not have the author information.</span></li>
                        <li class="mb-2">During the initial manuscript submission process via EasyChair, it is the authors’
                            responsibility to ensure that all the authors’ names are included in the EasyChair
                            submission page, and NOT in the PDF file. In particular, the EasyChair submission page must
                            include all co-authors, not just the submitting author. Failure to comply with this rule
                            might result in your paper being withdrawn from the review process. Please be aware that the
                            author list of an accepted paper cannot be changed in the final manuscript.</li>
                        <li class="mb-2">Standard IEEE conference templates for LaTeX and Microsoft Word formats can be used to
                            write technical papers and are found at:
                            <a class="text-bahama-blue ltr-bahama-blue font-size-1 font-weight-medium ltr-bahama-blue" target="_blank"
                                href="http://www.ieee.org/conferences_events/conferences/publishing/templates.html" rel="noreferrer">
                                http://www.ieee.org/conferences_events/conferences/publishing/templates.html
                            </a>
                        </li>
                        <li class="mb-2">The maximum no. of words allowed in Abstract is 150 words and at least 3 key-words are
                            mandatory.</li>
                        <li class="mb-2">Papers exceeding page limits will not be accepted at EasyChair, nor will they be reviewed at
                            all.</li>
                        <li class="mb-2">The authors are advised to select only one (i.e. the most suitable) track out of 12
                            mentioned tracks in submission page for their submission at the time of submitting the
                            manuscript through Easy Chair.</li>
                        <li class="mb-2">All papers submitted to CICT 2020 will be checked for plagiarism according to IEEE
                            guideline. If found free of plagiarism, it will be peer reviewed and evaluated based on
                            novelty, presentation, correctness and relevance to the conference.</li>
                        <li class="mb-2">All accepted and presented papers would be included in IEEE CICT 2020 Conference
                            Proceedings and digitally archived through <span class="font-weight-medium">IEEE
                                Xplore</span>.</li>
                    </ul>
                    <div class="my-5 pt-5">
                        <h1 class="font-size-2 text-bahama-blue font-weight-bold" id="phdTrack">Special Track for PhD
                            Scholars</h1>
                        <p class="font-size-1 pt-3 mb-0">
                            Apart from submission in the regular tracks above, PhD scholars are encouraged to submit
                            long
                            papers(10-14 pages) with significant research content for a special PhD track. Such
                            submissions
                            will undergo a stringent review by a committee which comprises one international expert and
                            atleast two Indian experts. Papers accepted and presented in this category may possibly be
                            considered equivalent to an SCI-indexed publication for research scholars in IIITs for
                            the award of PhD degree. The guidelines for submission in PhD track are similar to those in
                            regular tracks.
                        </p>
                        <a href="https://forms.gle/BxNESQrxG2Ycpmaq9" target="_blank"
                            class="text-bahama-blue font-weight-medium ltr-bahama-blue font-size-1">PhD Track
                            Submission Link</a>
                    </div>
                    <div class="my-5 pt-5">
                        <h1 class="font-size-2 text-bahama-blue font-weight-bold" id="awards">Call for PhD Theses Awards
                        </h1>
                        <p class="font-size-1 pt-3 mb-0">
                            CICT 2020 will also provide the platform for young professionals who have recently completed
                            the
                            PhD theses in the area of Information and Communication Technology. The PhD degree must be
                            awarded during October 01, 2019 to September 30, 2020 from any institute/university. The
                            submitted theses will be evaluated by the senior panel of experts, and on their
                            recommendations,
                            one thesis in each area will be awarded the <span class="font-weight-medium">"Best PhD
                                Thesis Award"</span> for the
                            year 2020. The candidates are required to submit the pdf copy of detailed synopsis (not more
                            than 16 pages) along with the published research papers related to the thesis work.</p>
                        <a href="https://forms.gle/16N3V7rETbVecSMJA" target="_blank"
                            class="text-bahama-blue font-weight-medium ltr-bahama-blue font-size-1">Submission link for
                            PhD Thesis Award</a>
                    </div>
                    <div id="dates" class="pt-5">
                        <h1 class="font-size-2 text-bahama-blue font-weight-bold">Important Dates
                        </h1>
                        <ul class="list-unstyled font-size-1 pt-3">
                            <li>Full Paper submission deadline: <span class="font-weight-medium">September 15,
                                    2020</span></li>
                            <li>Notification of paper acceptance: <span class="font-weight-medium">October 31,
                                    2020</span></li>
                            <li>Early Bird Registration: <span class="font-weight-medium">November 10, 2020</span></li>
                            <li>Camera ready submission deadline: <span class="font-weight-medium">November 10,
                                    2020</span></li>
                            <li>Presentation video upload deadline: <span class="font-weight-medium">November 15,
                                    2020</span></li>
                        </ul>
                    </div>
            </main>
        </section>
    </section>
    <%- include('partials/footer') %>