<%- include('partials/header') %>
</head>

<body>
    <%- include('partials/menu') %>
    <section class="container-fluid vh-100 px-0 bg-img bg-catskill-white d-flex flex-column">
        <%- include('partials/alert.ejs') %>
        <%- include('partials/nav.ejs') %>
        <div class="jumbotron container expand jumbotron-fluid bg-transparent expand mb-0 px-4 px-sm-0">
            <header class="mt-sm-4">
                <h1 class="font-size-3 w-md-75 w-lg-50"><span class="underline-bahama-blue-lg">Call for Papers</span>
                </h1>
                <h1 class="font-size-2 mt-4">IEEE Conference Record Number: 48419</h1>
            </header>
        </div>
        <!-- <div class="container-fluid px-0 position-absolute bottom-0"> -->
        <div class="row mx-0 row-cols-2 row-cols-sm-6 mt-auto justify-content-end text-center">
            <div class="py-4 bg-bahama-blue">
                <div class="col border-right py-4 opacity-20">
                    <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <a href="" class="text-white">Quick Download</a>
                    </div>
                </div>
            </div>
            <div class="py-4 bg-bahama-blue">
                <div class="col border-left border-right py-4 opacity-20">
                    <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <a href="" class="text-white">Quick Download</a>
                    </div>
                </div>
            </div>
            <div class="py-4 bg-bahama-blue">
                <div class="col border-left border-right py-4 opacity-20">
                    <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <a href="" class="text-white">Quick Download</a>
                    </div>
                </div>
            </div>
            <div class="py-4 bg-bahama-blue">
                <div class="col border-left py-4 opacity-20">
                    <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <a href="" class="text-white">Quick Download</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="container-fluid bg-white py-5">
        <section class="container expand py-5 my-5 text-secondary">
            <header>
                <p class="font-size-1 mb-0"><span class="text-bahama-blue font-weight-medium">CICT “The IEEE
                        Conference on Information and Communication Technology”</span> is top level International
                    Conference
                    covering broad topics in the areas of Information and Communication Technology. This Conference is
                    started by the five MHRD funded IIITs (IIIT Allahabad, ABV- IIITM Gwalior, PDPM-IIITDM Jabalpur,
                    IIITDM
                    Kancheepuram, and IIITDM Kurnool) with an aim to provide a forum for researchers, industry
                    professionals, and academicians to present and exchange their ideas in latest technological
                    advancements
                    and innovations in the field of ICT. The CICT is jointly organized by the five IIITs annually on
                    rotation basis. The CICT 2017 and 2018 was hosted by ABV-IIITM Gwalior and PDPM-IIITDM Jabalpur,
                    respectively. The third edition of the conference, CICT 2019 will be hosted by IIIT Allahabad, India
                    during December 06-08, 2019. The conference will feature keynote lectures, tutorial sessions,
                    technical
                    paper sessions, poster sessions, and Ph.D. symposium. Prospective authors are invited to submit
                    their
                    original research contributions in the following eleven tracks:</p>
            </header>
            <main>
                <div class="my-4">
                    <button
                        class="btn btn-outline-bahama-blue font-size-1 text-uppercase font-weight-bold my-5">conference
                        tracks</button>
                </div>
                <%- include('partials/topics') %>
                <div class="my-5 py-5">
                    <h1 class="font-size-2 text-bahama-blue font-weight-bold">Paper Submission</h1>
                    <p class="font-size-1">
                        Paper Submission Full length (up to six pages long) PDF manuscripts can be submitted on
                        EASYCHAIR .
                        Manuscript templates
                        for LaTeX and Microsoft Word are at IEEE. All submissions must be in English only. Full details
                        of
                        submission procedures
                        and requirements for authors of accepted papers are available at submission guidelines. Accepted
                        papers will be
                        submitted for inclusion into IEEE Xplore.</p>
                    <a href="" class="text-bahama-blue font-size-1 font-weight-medium">Submission page URL: Easy
                        Chair</a>
                </div>
                <div>
                    <h1 class="font-size-2 text-bahama-blue font-weight-bold">Guidelines for Camera Ready Submission
                    </h1>
                    <ul class="list-unstyled">
                        <li>First of all register for the conference ( registration link will be uploaded soon).</li>
                        <li> Send the scan copy of registration detail including completed registration form and payment
                            slip in advance to cict2020@iiitdm.ac.in. </li>
                    </ul>
                </div>
            </main>
        </section>
    </section>
    <%- include('partials/footer') %>