<%- include('partials/header') %>
<style>
    .border-bottom-secondary {
        border-bottom: 0.125em solid var(--secondary);
        border-radius: 0;
    }
</style>
</head>

<body>
    <%- include('partials/menu') %>
    <%- include('partials/sticky-nav') %>
    <section class="container-fluid px-0 bg-img bg-catskill-white d-flex flex-column">
        <%- include('partials/alert.ejs') %>
        <%- include('partials/nav.ejs') %>
        <header class="jumbotron container expand jumbotron-fluid bg-transparent expand mb-0 px-4 px-sm-0">
            <div class="row mx-0 mb-5">
                <div class="col-12 col-sm-7 col-md-6 col-lg-4 col-xl-4 mt-3 px-0">
                    <img loading="lazy" src="images/IEEE_logo.svg"
                        class="img-fluid pr-4 d-inline-block border-right border-secondary opacity-blue-30 w-50"
                        alt="IEEE Logo"><img loading="lazy" src="images/logo-1.png"
                        class="img-fluid pl-4 w-33 d-inline-block" alt="CICT Logo">
                </div>
            </div>
            <hr class="border-0 my-5"
                style="height: 3px; background-image: linear-gradient(to right, rgba(0, 104, 148, 0.75), rgba(0, 104, 148, 0));">
            <h1 class="font-size-4">Call for Papers</h1>
            <h1 class="font-size-2 mt-4">IEEE Conference Record Number: 51604</h1>
        </header>
        <div class="row mx-0 row-cols-2 row-cols-sm-6 mt-auto justify-content-end text-center">
            <div class="py-4 bg-bahama-blue">
                <div class="col border-right py-4 opacity-white-20">
                    <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <a target="_blank" href="/brochures/cict2020_cfp.pdf" class="text-white">Download Brochure</a>
                    </div>
                </div>
            </div>
            <div class="py-4 bg-bahama-blue">
                <div class="col border-left border-right py-4 opacity-white-20">
                    <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <a href="" class="text-white">Quick Download</a>
                    </div>
                </div>
            </div>
            <div class="py-4 bg-bahama-blue">
                <div class="col border-left border-right py-4 opacity-white-20">
                    <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <a href="" class="text-white">Quick Download</a>
                    </div>
                </div>
            </div>
            <div class="py-4 bg-bahama-blue">
                <div class="col border-left py-4 opacity-white-20">
                    <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <a href="" class="text-white">Quick Download</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid bg-white py-5">
        <section class="container expand py-5 my-5 text-secondary">
            <header>
                <p class="font-size-1">The <span class="text-bahama-blue font-weight-medium">4th Conference on
                        Information and Communication Technology</span> will be held at the Indian Institute of
                    Information Technology, Design and Manufacturing Kancheepuram, Chennai during 3-5 December, 2020.
                    CICT is a premier international technical conference jointly organized by the five MHRD funded
                    IIITs.</p>
                <p class="font-size-1">CICT 2020 is expected to bring together researchers, educators, students,
                    practitioners and technocrats from across academia, industry and other organizations to discuss,
                    share and promote current works and recent accomplishments across the various emerging technologies
                    in the domain of communication and information technology.</p>
                <p class="font-size-1">Prospective authors are invited to submit full papers (maximum four pages)
                    with <span class="text-bahama-blue font-weight-medium">double column</span> IEEE conference
                    format. The conference proceedings will be submitted to the <span
                        class="text-bahama-blue font-weight-medium">IEEE Xplore&reg; digital library</span>.</p>
            </header>
            <main>
                <div class="pt-5">
                    <h2 class="text-bahama-blue font-size-2 font-weight-bold my-5">Conference
                        Tracks</h2>
                </div>
                <div class="container-fluid px-0">
                    <%- include('partials/topics', {tracks: tracks}) %>
                </div>
                <div class="my-5 py-5" id="guidelines">
                    <h1 class="font-size-2 text-bahama-blue font-weight-bold">Submission Guidelines</h1>
                    <p class="font-size-1 pt-3">
                        Paper Submission Full length (up to six pages long) PDF manuscripts can be submitted on
                        EASYCHAIR. Manuscript templates for LaTeX and Microsoft Word are at IEEE. All submissions must
                        be in English only. Full details of submission procedures and requirements for authors of
                        accepted papers are available at submission guidelines. Accepted papers will be
                        submitted for inclusion into IEEE Xplore.</p>
                    <a href="https://easychair.org/account/signin_timeout?l=98j8OTOqLHWdBxGRaPER0d#" target="_blank"
                        class="text-bahama-blue ltr-bahama-blue font-size-1 font-weight-medium">Submission
                        page URL: Easy Chair</a>
                </div>
                <div class="my-5 py-5">
                    <h1 class="font-size-2 text-bahama-blue font-weight-bold" id="phdTrack">Special Track for PhD
                        Scholars</h1>
                    <p class="font-size-1 pt-3">
                        Apart from submission in the regular tracks above, PhD scholars are encouraged to submit long
                        papers(10-14 pages) with significant research content for a special PhD track. Such submissions
                        will undergo a stringent review by a committee which comprises one international expert and
                        atleast two Indian experts. Papers accepted and presented in this category may possibly be
                        considered equivalent to an SCI-indexed publication for research scholars in IIITs for
                        the award of PhD degree. For detailed information, please check the <a href="#guidelines"
                            class="text-bahama-blue font-weight-medium ltr-bahama-blue">Guidelines</a> section above.
                    </p>
                </div>
                <div class="my-5 py-5">
                    <h1 class="font-size-2 text-bahama-blue font-weight-bold" id="awards">Call for PhD Theses Awards
                    </h1>
                    <p class="font-size-1 pt-3">
                        CICT 2020 will also provide the platform for young professionals who have recently completed the
                        PhD theses in the area of Information and Communication Technology. The PhD degree must be
                        awarded during October 01, 2019 to September 30, 2020 from any institute/university. The
                        submitted theses will be evaluated by the senior panel of experts, and on their recommendations,
                        one thesis in each area will be awarded the <strong>"Best PhD Thesis Award"</strong> for the
                        year 2020. The candidates are required to submit the pdf copy of detailed synopsis (not more
                        than 16 pages) along with the published research papers related to the thesis work. Submit the
                        documents in this <a href="https://forms.gle/16N3V7rETbVecSMJA"
                            class="text-bahama-blue font-weight-medium ltr-bahama-blue">Google Form</a>.</p>
                </div>
                <div id="dates">
                    <h1 class="font-size-2 text-bahama-blue font-weight-bold">Important Dates
                    </h1>
                    <ul class="list-unstyled font-size-1 pt-3">
                        <li>Paper presentation and video submission: <strong>November 15, 2020</strong></li>
                        <li>Camera ready submission deadline: <strong>November 10, 2020</strong></li>
                        <li>Early Bird Registration: <strong>November 10, 2020</strong></li>
                        <li>Notification of paper acceptance: <strong>October 31, 2020</strong></li>
                        <li>Full Paper submission deadline: <strong>September 15, 2020</strong></li>
                    </ul>
                </div>
            </main>
        </section>
    </section>
    <%- include('partials/footer') %>