<%- include('partials/header') %>
<style>
    ul.nav-pills a.nav-link.active,
    ul.nav-pills a.nav-link {
        color: var(--dark-blue);
        border: 0.125em solid var(--dark-blue);
        border-radius: 0;
        font-weight: 500;
        transition: all 200ms;
        padding: 0.15em 0.8em;
    }

    ul.nav-pills a.nav-link:hover,
    ul.nav-pills a.nav-link.active {
        background-color: var(--dark-blue);
        color: white;
        padding: 0.15em 0.8em;
    }

    @media(min-width: 992px) {
        .center {
            position: static !important;
            transform: none;
        }
    }

    @media(max-width: 576px) {

        html,
        body {
            font-size: 14px !important;
        }
    }

    .arrow {
        position: absolute;
        animation-name: arrow;
        animation-duration: 1250ms;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(.17, .67, .83, .67);
    }

    a.dropdown-item {
        color: var(--dark-blue);
        background-color: var(--light-blue);
        padding: 0.15em 0.8em;
        border: none;
        box-shadow: none;
        outline: none;
    }

    a.dropdown-item:hover,
    a.dropdown-item:active,
    a.dropdown-item:focus {
        background-color: var(--dark-blue);
        color: #fff;
    }

    @keyframes arrow {
        from {
            opacity: 0;
            top: -0.5rem;
        }

        to {
            opacity: 1;
            top: 0.25rem;
        }
    }
</style>
</head>

<body>
    <%- include('partials/menu') %>
    <%- include('partials/sticky-nav') %>
    <section class="container-fluid vh-100 px-0 bg-img bg-catskill-white">
        <%- include('partials/alert') %>
        <%- include('partials/nav') %>
        <div class="jumbotron container center jumbotron-fluid bg-transparent expand mb-0 px-3 px-sm-0 pt-5 pt-lg-0 mt-5 mt-lg-0"
            id="hero">
            <header class="mt-sm-4 mt-lg-0">
                <h1 class="font-size-3 w-md-75 w-lg-75 w-xl-60 w-xxl-50">
                    <span class="underline-bahama-blue-lg">Extraordinary people who make the extraordinary
                        possible.</span>
                </h1>
            </header>
            <main class="py-3 mt-5">
                <h5 class="font-weight-bold position-relative d-none d-lg-block">Select<i data-feather="chevron-down"
                        class="arrow ml-2"></i></h5>
                <div class="dropup">
                    <button type="button"
                        class="btn btn-outline-bahama-blue font-size-1 font-weight-regular d-flex d-lg-none justify-content-between w-100"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="dynamic">
                        <span id="menu-topic">Patrons</span>
                        <i data-feather="chevron-down" class="arrow position-relative"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-left bg-catskill-white font-size-1 rounded-0 w-100 py-0"
                        style="height: 10em; overflow-y: scroll;" role="tablist">
                        <a href="#patrons" id="patrons-tab" data-toggle="tab" role="tab" class="dropdown-item"
                            type="button">Patrons</a>
                        <a href="#steering" id="steering-tab" data-toggle="tab" role="tab" class="dropdown-item"
                            type="button">Steering Committee</a>
                        <a href="#advisory" id="advisory-tab" data-toggle="tab" role="tab" class="dropdown-item"
                            type="button">Advisory Committee</a>
                        <a href="#generalChairs" id="general-chairs-tab" data-toggle="tab" role="tab"
                            class="dropdown-item" type="button">General Chairs</a>
                        <a href="#organisingChairs" id="organising-chairs-tab" data-toggle="tab" role="tab"
                            class="dropdown-item" type="button">Organising Chairs</a>
                        <a href="#technical" id="technical-tab" data-toggle="tab" role="tab" class="dropdown-item"
                            type="button">Technical Program Committee</a>
                        <a href="#phdSymposium" id="phd-symposium-tab" data-toggle="tab" role="tab"
                            class="dropdown-item" type="button">PhD Symposium Chairs</a>
                        <a href="#trackChairs" id="track-chairs-tab" data-toggle="tab" role="tab" class="dropdown-item"
                            type="button">Track Chairs</a>
                        <a href="#wie" id="wie-tab" data-toggle="tab" role="tab" class="dropdown-item" type="button">WiE
                            Chairs</a>
                        <a href="#industry" id="industry-tab" data-toggle="tab" role="tab" class="dropdown-item"
                            type="button">Industry Forum Chairs</a>
                        <a href="#organizing" id="organizing-tab" data-toggle="tab" role="tab" class="dropdown-item"
                            type="button">Conference Organising Committee</a>
                        <a href="#student" id="student-tab" data-toggle="tab" role="tab" class="dropdown-item"
                            type="button">Student Management Committee</a>
                    </div>
                </div>
                <ul class="nav nav-pills d-none d-lg-flex mt-2" id="myTab" role="tablist">
                    <li class="nav-item my-2 mr-3 text-uppercase" role="presentation">
                        <a class="nav-link font-size-1 font-weight-bold active" id="patrons-tab" data-toggle="tab"
                            href="#patrons" role="tab" aria-controls="patrons" aria-selected="true">Patrons</a>
                    </li>
                    <li class="nav-item my-2 mr-3 text-uppercase" role="presentation">
                        <a class="nav-link font-size-1 font-weight-bold" id="steering-tab" data-toggle="tab"
                            href="#steering" role="tab" aria-controls="steering" aria-selected="false">Steering
                            Committee</a>
                    </li>
                    <li class="nav-item my-2 mr-3 text-uppercase" role="presentation">
                        <a class="nav-link font-size-1 font-weight-bold" id="advisory-tab" data-toggle="tab"
                            href="#advisory" role="tab" aria-controls="advisory" aria-selected="false">Advisory
                            Committee</a>
                    </li>
                    <li class="nav-item my-2 mr-3 text-uppercase" role="presentation">
                        <a class="nav-link font-size-1 font-weight-bold" id="general-chairs-tab" data-toggle="tab"
                            href="#generalChairs" role="tab" aria-controls="generalChairs" aria-selected="false">General
                            Chairs</a>
                    </li>
                    <li class="nav-item my-2 mr-3 text-uppercase" role="presentation">
                        <a class="nav-link font-size-1 font-weight-bold" id="organising-chairs-tab" data-toggle="tab"
                            href="#organisingChairs" role="tab" aria-controls="organisingChairs"
                            aria-selected="false">Organising Chair</a>
                    </li>
                    <li class="nav-item my-2 mr-3 text-uppercase" role="presentation">
                        <a class="nav-link font-size-1 font-weight-bold" id="technical-tab" data-toggle="tab"
                            href="#technical" role="tab" aria-controls="technical" aria-selected="false">Technical
                            Program Committee</a>
                    </li>
                    <li class="nav-item my-2 mr-3 text-uppercase" role="presentation">
                        <a class="nav-link font-size-1 font-weight-bold" id="phd-symposium-tab" data-toggle="tab"
                            href="#phdSymposium" role="tab" aria-controls="phdSymposium" aria-selected="false">PhD
                            Symposium Chairs</a>
                    </li>
                    <li class="nav-item my-2 mr-3 text-uppercase" role="presentation">
                        <a class="nav-link font-size-1 font-weight-bold" id="track-chairs-tab" data-toggle="tab"
                            href="#trackChairs" role="tab" aria-controls="trackChairs" aria-selected="false">Track
                            Chairs</a>
                    </li>
                    <li class="nav-item my-2 mr-3 text-uppercase" role="presentation">
                        <a class="nav-link font-size-1 font-weight-bold" id="wie-tab" data-toggle="tab" href="#wie"
                            role="tab" aria-controls="wie" aria-selected="false">WiE
                            Chairs</a>
                    </li>
                    <li class="nav-item my-2 mr-3 text-uppercase" role="presentation">
                        <a class="nav-link font-size-1 font-weight-bold" id="industry-tab" data-toggle="tab"
                            href="#industry" role="tab" aria-controls="industry" aria-selected="false">Industry Forum
                            Chairs</a>
                    </li>
                    <li class="nav-item my-2 mr-3 text-uppercase" role="presentation">
                        <a class="nav-link font-size-1 font-weight-bold" id="organizing-tab" data-toggle="tab"
                            href="#organizing" role="tab" aria-controls="organizing" aria-selected="false">Conference
                            Organising Committee</a>
                    </li>
                    <li class="nav-item my-2 mr-3 text-uppercase" role="presentation">
                        <a class="nav-link font-size-1 font-weight-bold" id="student-tab" data-toggle="tab"
                            href="#student" role="tab" aria-controls="student" aria-selected="false">Student
                            Management Committee</a>
                    </li>
                </ul>
            </main>
        </div>
    </section>

    <section class="container expand py-5 my-5 px-5 px-sm-4">
        <h2 class="text-bahama-blue font-size-3 text-uppercase font-weight-bold my-5" id="topic">Patrons</h2>
        <div class="tab-content font-size-1" id="myTabContent">
            <div class="tab-pane fade text-secondary show active" id="patrons" role="tabpanel"
                aria-labelledby="patrons-tab">
                <%- include('partials/patrons', {patrons: patrons}) %>
            </div>
            <div class="tab-pane fade text-secondary" id="generalChairs" role="tabpanel"
                aria-labelledby="general-chairs-tab">
                <%- include('partials/general-chairs', {gc: gc}) %>
            </div>
            <div class="tab-pane fade text-secondary" id="steering" role="tabpanel"
                aria-labelledby="general-chairs-tab">
                <%- include('partials/steering-committee', {steering: steering}) %>
            </div>
            <div class="tab-pane fade text-secondary" id="advisory" role="tabpanel" aria-labelledby="advisory-tab">
                <%- include('partials/advisory-committee', {advisory: advisory}) %>
            </div>
            <div class="tab-pane fade text-secondary" id="organisingChairs" role="tabpanel"
                aria-labelledby="organising-chairs-tab">
                <%- include('partials/organising-chairs', {oc: oc}) %>
            </div>
            <div class="tab-pane fade text-secondary" id="technical" role="tabpanel" aria-labelledby="technical-tab">
                <%- include('partials/technical-committee', {tpc: tpc}) %>
            </div>
            <div class="tab-pane fade text-secondary" id="phdSymposium" role="tabpanel"
                aria-labelledby="phd-symposium-tab">
                <%- include('partials/phd-symposium', {phdSymposium: phdSymposium}) %>
            </div>
            <div class="tab-pane fade text-secondary" id="trackChairs" role="tabpanel"
                aria-labelledby="track-chairs-tab">
                <%- include('partials/track-chairs', {trc: trc}) %>
            </div>
            <div class="tab-pane fade text-secondary" id="wie" role="tabpanel" aria-labelledby="wie-tab">
                <%- include('partials/wie', {wie: wie}) %>
            </div>
            <div class="tab-pane fade text-secondary" id="industry" role="tabpanel" aria-labelledby="industry-tab">
                <%- include('partials/industry', {industry: industry}) %>
            </div>
            <div class="tab-pane fade text-secondary" id="organizing" role="tabpanel" aria-labelledby="organizing-tab">
                <%- include('partials/conference-committee', {coc: coc}) %>
            </div>
            <div class="tab-pane fade text-secondary" id="student" role="tabpanel" aria-labelledby="student-tab">
                <%- include('partials/students', {student: student}) %>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>