<%- include('partials/header') %>
<style>
    .badge {
        position: absolute;
        right: 0;
        top: 50%;
        transform-origin: right bottom;
        transform: rotate(-90deg) translateX(50%);
        background-color: var(--dark-blue);
        color: #fff;
        z-index: 1;
    }


    @media (min-width: 992px) {
        .move-up {
            transform: translateY(-50%);
        }

        .pb-30 {
            padding-bottom: 30% !important;
        }
    }


    @media (max-width: 576px) {
        .minify-text {
            font-size: 1.5rem;
        }
    }
</style>
</head>

<body class="bg-catskill-white">
    <%- include('partials/menu') %>
    <%- include('partials/sticky-nav') %>
    <section class="container-fluid vh-100 px-0 bg-img">
        <a class="btn btn-outline-bahama-blue d-block d-sm-none text-uppercase font-weight-bold font-size-1 py-2 badge"
            href="#callForPapers">Call for papers</a>
        <%- include('partials/alert') %>
        <%- include('partials/nav') %>

        <div
            class="jumbotron container expand jumbotron-fluid bg-transparent center mb-0 px-4 px-sm-0 mt-sm-5 mt-xl-n3">
            <div class="row mx-0 pt-xl-5">
                <div class="col-md-10 col-lg-8 pb-5 px-0">
                    <div class="col-12 col-sm-7 col-md-6 col-xl-5 mt-3 px-0">
                        <img loading="lazy" src="images/IEEE_logo.svg"
                            class="img-fluid pr-4 d-inline-block border-right border-secondary opacity-blue-30 w-33 w-sm-50"
                            alt="IEEE Logo"><img loading="lazy" src="images/logo.png"
                            class="img-fluid pl-4 w-25 w-sm-33 d-inline-block" alt="CICT Logo">
                    </div>
                    <h1 class="font-size-3 mt-3 mt-sm-5 w-xl-75">4<sup>th</sup> Conference on
                        Information and Communication Technology</h1>
                    <h4 class="font-weight-regular minify-text mt-4 mt-sm-0">
                        <i data-feather="calendar" width="1em" height="1em"></i>
                        DEC 3 - 5, 2020
                    </h4>
                    <h4 class="font-weight-regular minify-text mt-sm-0">
                        <i data-feather="map-pin" width="1em" height="1em"></i>
                        IIITDM Kancheepuram<span class="d-none d-sm-inline">, Chennai</span>
                    </h4>
                </div>
                <div
                    class="col-md-2 col-lg-4 d-none d-md-flex flex-column justify-content-around align-content-stretch align-items-end social">
                    <a><i data-feather="instagram"></i></a>
                    <a><i data-feather="twitter"></i></a>
                    <a><i data-feather="facebook"></i></a>
                    <a><i data-feather="share-2"></i></a>
                </div>
            </div>
            <a href="/register" class="btn btn-outline-bahama-blue font-weight-bold font-size-1">REGISTER</a>
        </div>
        <div class="container-fluid d-none d-md-flex text-center position-absolute bottom-0 px-0 mx-0">
            <div style="flex: 7 7 auto" class="border-y-transparent d-none d-lg-block">
            </div>
            <div style="flex: 2 2 auto" class="border-y-bahama-blue">
                <a href=""
                    class="d-block border-right text-white bg-bahama-blue my-auto px-2 py-3 opacity-white-20">Programme
                    Schedule</a>
            </div>
            <div style="flex: 2 2 auto" class="border-y-bahama-blue">
                <a href="/authors"
                    class="d-block border-right border-left text-white bg-bahama-blue my-auto px-2 py-3 opacity-white-20">Submit
                    your paper</a>
            </div>
            <div style="flex: 2 2 auto" class="border-y-bahama-blue">
                <a href=""
                    class="d-block border-right border-left text-white bg-bahama-blue my-auto px-2 py-3 opacity-white-20">PPT
                    Template</a>
            </div>
            <div style="flex: 2 2 auto" class="border-y-bahama-blue">
                <a href=""
                    class="d-block border-right border-left text-white bg-bahama-blue my-auto px-2 py-3 opacity-white-20">Registered
                    Papers</a>
            </div>
            <div style="flex: 2 2 auto" class="border-y-bahama-blue">
                <a href=""
                    class="d-block border-left text-white bg-bahama-blue my-auto px-2 py-3 opacity-white-20">Technical
                    Sessions</a>
            </div>
        </div>
    </section>

    <section class="container-fluid bg-bahama-blue pb-5 text-white">
        <div class="container-fluid text-center d-md-none px-0 mb-5">
            <div class="row row-cols-3 bg-bahama-blue">
                <div class="col border-right py-4 opacity-white-20 mt-3">
                    <a href="" class="text-white">Programme Schedule</a>
                </div>
                <div class="col border-left border-right py-4 opacity-white-20 mt-3">
                    <a href="/authors" class="text-white">Submit your paper</a>
                </div>
                <div class="col border-left py-4 opacity-white-20 mt-3">
                    <a href="" class="text-white center">PPT Template</a>
                </div>
                <div class="col border-right py-4 opacity-white-20 mt-3">
                    <a href="" class="text-white">Registered Papers</a>
                </div>
                <div class="col border-left border-right py-4 opacity-white-20 mt-3">
                    <a href="" class="text-white center">Abstract Book</a>
                </div>
                <div class="col border-left py-4 opacity-white-20 mt-3">
                    <a href="" class="text-white">Technical Sessions</a>
                </div>
            </div>
        </div>
        <header class="container expand pt-5">
            <h1 class="font-size-3 w-md-75 w-xl-50 pt-4 pb-5 mt-md-5"><span class="underline-white-lg">Join us to
                    explore the new possibilities of Information and Communication Technology</span></h1>
            <h1 class="font-size-2 font-weight-bold my-4">IEEE CICT</h1>
        </header>
        <main class="container expand my-5 pt-4">
            <p class="lead font-weight-regular m-0">The <i>Conference on Information and Communication Technology</i>
                (CICT) is the annual flagship conference jointly organized by the five MHRD-funded Indian Institutes of
                Information Technology. CICT aims to provide a forum for researchers, industry professionals, and
                academicians to present and exchange their ideas in latest technological advancements and innovations
                in the field of Information and Communication Technology. The conference will feature keynote lectures,
                tutorial sessions, technical paper sessions, poster sessions, Ph.D. symposium, Industry forum and Women
                in Engineering forum.</p>
        </main>
        <footer class="container expand mb-5 py-5">
            <a href="https://cict2019.iiita.ac.in/" class="lead text-white ltr-shift d-inline font-weight-medium"
                target="_blank" rel="noreferrer">Checkout our 2019 stories
                <i data-feather="arrow-right" class="ml-0"></i>
            </a>
        </footer>
    </section>

    <section class="container-fluid bg-catskill-white text-bahama-blue py-5">
        <header class="container expand my-5 pt-5">
            <h1 class="font-size-2 text-uppercase font-weight-bold">Updates</h1>
        </header>
        <main class="container expand">
            <div class="row justify-content-between">
                <div class="col-md-7">
                    <div class="row row-cols-1 row-cols-md-2">
                        <%- include('partials/update-card') %>
                    </div>
                    <footer class="container-fluid px-0 my-5 py-md-5 my-md-5 d-md-none">
                        <a href="" class="lead text-bahama-blue ltr-shift d-inline font-weight-medium">View More
                            <i data-feather="arrow-right"></i>
                        </a>
                    </footer>
                </div>
                <div class="col-md-4 mt-5 text-center text-md-left mt-md-0 pb-5 mb-5 pb-md-0 mb-md-0 align-self-center">
                    <i data-feather="globe"></i>
                    <h5 class="mt-3">Stay informed to our updates by subscribing to our notifications.</h5>
                    <form>
                        <div class="form-group">
                            <label for="email" class="d-none">Email</label>
                            <input type="email" class="form-control light text-center text-md-left" id="email"
                                name="email" placeholder="example@example.com" required>
                        </div>
                        <button type="submit"
                            class="btn btn-outline-bahama-blue mt-4 font-weight-bold">Subscribe</button>
                    </form>
                </div>
            </div>
            <footer class="container-fluid px-0 my-5 pb-5 d-none d-md-block">
                <a href="/authors#dates" class="lead text-bahama-blue ltr-shift d-inline font-weight-medium">View More
                    <i data-feather="arrow-right"></i>
                </a>
            </footer>
        </main>
    </section>

    <section class="container-fluid bg-white py-5" id="callForPapers">
        <header class="container expand mt-5 pt-5">
            <h1 class="font-size-2 text-uppercase font-weight-bold d-block d-sm-inline pb-4 pb-sm-0">Call for papers
            </h1>
            <a target="_blank" href="/brochures/cict2020_cfp.pdf"
                class="btn btn-outline-bahama-blue ml-sm-3 font-weight-bold align-top">Download Brochure</a>
        </header>
        <main class="container expand mt-5">
            <p class="lead mt-3 font-weight-regular">Prospective authors are invited to submit full papers (maximum four
                pages) with double column IEEE conference format. The conference proceedings will be submitted to the
                IEEE Xplore&reg; digital library.</p>
            <h1 class="font-size-2 text-uppercase my-5 font-weight-bold">Topics</h1>
            <%- include('partials/topics', {tracks: tracks}) %>
        </main>
        <footer class="container expand mt-4 pb-5 mb-5">
            <a href="/authors" class="lead text-bahama-blue ltr-shift d-inline font-weight-medium">Know More
                <i data-feather="arrow-right"></i>
            </a>
        </footer>
    </section>

    <section class="container-fluid py-5 bg-catskill-white text-bahama-blue">
        <header class="container expand mt-5 pt-5">
            <h1 class="font-size-3 w-md-50 mb-4"><span class="underline-bahama-blue-lg">We are committed to
                    bringing brilliant minds together.</span></h1>
            <h2 class="text-bahama-blue font-size-2 text-uppercase font-weight-bold my-5 py-4">Keynote
                Speakers</h2>
        </header>
        <main class="container expand mt-5">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
                <% speakers.forEach(speaker => { %>
                <div class="col mb-5 pr-lg-5">
                    <%- include('partials/person-card.ejs', {person: speaker}) %>
                </div>
                <% }) %>
            </div>
        </main>
        <footer class="container expand mb-5 pb-5">
            <a href="" class="lead text-bahama-blue ltr-shift d-inline font-weight-medium">Know More
                <i data-feather="arrow-right"></i>
            </a>
        </footer>
    </section>

    <!-- <section class="container-fluid bg-white pb-5">
        <div class="row justify-content-between mb-5" id="parent">
            <div class="col-lg-8 d-lg-flex align-items-center bg-bahama-blue move-up py-5 py-lg-0" id="child">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 container-lg p-5 mx-0 my-5">
                    <div class="col mb-4">
                        <img loading="lazy" src="https://via.placeholder.com/300" class="card-img-top rounded-0" alt="">
                    </div>
                    <div class="col mb-4">
                        <img loading="lazy" src="https://via.placeholder.com/300" class="card-img-top rounded-0" alt="">
                    </div>
                    <div class="col mb-4">
                        <img loading="lazy" src="https://via.placeholder.com/300" class="card-img-top rounded-0" alt="">
                    </div>
                    <div class="col mb-4 mb-sm-0">
                        <img loading="lazy" src="https://via.placeholder.com/300" class="card-img-top rounded-0" alt="">
                    </div>
                    <div class="col mb-4 mb-sm-0">
                        <img loading="lazy" src="https://via.placeholder.com/300" class="card-img-top rounded-0" alt="">
                    </div>
                    <div class="col mb-4 mb-sm-0">
                        <img loading="lazy" src="https://via.placeholder.com/300" class="card-img-top rounded-0" alt="">
                    </div>
                </div>
                <div class="container px-5 text-center text-lg-left bg-bahama-blue text-white d-lg-none pb-5 pb-lg-0">
                    <i data-feather="share-2"></i>
                    <h5 class="my-4 font-weight-medium">How excited are you? </h5>
                    <h5>Download your personalised <strong>excitement pass</strong> and post it on social media.</h5>
                    <button class="btn btn-outline-white font-weight-bold my-5">Download</button>
                </div>
            </div>
            <div class="col-lg-4 px-5 d-none d-lg-block text-center text-lg-left p-5">
                <i data-feather="share-2"></i>
                <h5 class="my-4 font-weight-medium">How excited are you? </h5>
                <h5>Download your personalised <strong>excitement pass</strong> and post it on social media.</h5>
                <button class="btn btn-outline-bahama-blue font-weight-bold mt-3">Download</button>
            </div>
        </div>
    </section> -->

    <section class="container-fluid py-5 bg-white">
        <header class="container expand pt-5 mt-5">
            <h1 class="font-size-3 w-md-50 pb-5">
                <span class="underline-bahama-blue-lg">We are thankful to those who
                    make it possible.</span>
            </h1>
        </header>
        <main class="container expand mt-5 pb-5">
            <div class="row justify-content-start">
                <div class="col-sm-6 col-lg-3 text-sm-left py-2">
                    <div class="text-center text-sm-left">
                        <h1 class="font-size-2 font-weight-bold my-4">SPONSOR</h1>
                        <img loading="lazy" src="images/ieee-madras.png" class="img-fluid w-50" alt="IEEE Madras">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 text-sm-left py-2 mt-5 mt-sm-0">
                    <div class="text-center text-sm-left">
                        <h1 class="font-size-2 font-weight-bold my-4">ORGANIZER</h1>
                        <img loading="lazy" src="images/institutes/IIITDM.jpg" class="img-fluid w-50"
                            alt="IIITDM Kancheepuram">
                    </div>
                </div>
            </div>
        </main>

        <header class="container expand text-center text-sm-left">
            <h1 class="font-size-2 font-weight-bold my-4">CO-ORGANIZERS</h1>
        </header>
        <main class="container expand mt-5 pb-5 mb-5">
            <div class="row justify-content-around justify-content-sm-start">
                <div class="col-sm-5 col-lg-3 py-2">
                    <div class="text-center text-sm-left">
                        <img loading="lazy" src="images/institutes/IIIT-A.jpg" class="img-fluid w-50"
                            alt="IIIT Allahabad">
                    </div>
                </div>
                <div class="col-sm-5 col-lg-3 py-2 mt-5 mt-sm-0">
                    <div class="text-center text-sm-left">
                        <img loading="lazy" src="images/institutes/iitm-gwalior.jpg" class="img-fluid w-50"
                            alt="IIIT Gwalior">
                    </div>
                </div>
                <div class="col-sm-5 col-lg-3 py-2 mt-5 mt-lg-0">
                    <div class="text-center text-sm-left">
                        <img loading="lazy" src="images/institutes/iiitdmj.jpg" class="img-fluid w-50"
                            alt="IIITDM Jabalpur">
                    </div>
                </div>
                <div class="col-sm-5 col-lg-3 py-2 mt-5 mt-lg-0">
                    <div class="text-center text-sm-left">
                        <img loading="lazy" src="images/institutes/IIITDM-Kurnool.jpg" class="img-fluid w-50"
                            alt="IIITDM Kurnool">
                    </div>
                </div>
            </div>
        </main>
    </section>

    <%- include('partials/footer') %>