<%- include('partials/header') %>
</head>

<body class="bg-catskill-white">
    <%- include('partials/menu') %>
    <section class="container-fluid vh-100 px-0 bg-img">
        <a class="btn btn-outline-bahama-blue d-block d-sm-none text-uppercase font-weight-bold font-size-1 py-2 badge"
            href="#callForPapers">Call for papers</a>
        <%- include('partials/alert.ejs') %>
        <%- include('partials/nav.ejs') %>

        <div
            class="jumbotron container expand jumbotron-fluid bg-transparent vertical-center mb-0 px-5 px-sm-0 mt-3 mt-sm-0">
            <div class="row mx-0">
                <div class="col-md-10 col-lg-8 pb-5 px-0">
                    <div class="row mx-0 mb-5">
                        <div class="col-5 col-sm-3 pl-0">
                            <img src="images/IEEE_logo.svg" class="img-fluid" alt="IEEE">
                        </div>
                        <div class="col-5 col-sm-3 pl-0">
                            <img src="images/IEEE_logo.svg" class="img-fluid ml-3 ml-sm-5" alt="IEEE">
                        </div>
                    </div>
                    <h1 class="font-size-3 mt-4 w-xl-75">4<sup>th</sup> Conference on
                        Information and Communication Technology</h1>
                    <h3 class="font-weight-regular mt-4 mt-sm-0">DEC 3 - 4, 2020</h3>
                </div>
                <div
                    class="col-md-2 col-lg-4 d-none d-md-flex flex-column justify-content-around align-content-stretch align-items-end">
                    <a><i data-feather="instagram"></i></a>
                    <a><i data-feather="twitter"></i></a>
                    <a><i data-feather="facebook"></i></a>
                    <a><i data-feather="share-2"></i></a>
                </div>
            </div>
            <a href="" class="btn btn-outline-bahama-blue font-weight-bold font-size-1">REGISTER</a>
        </div>
        <div class="container-fluid d-none d-md-flex text-center position-absolute bottom-0 px-0 mx-0">
            <div style="flex: 7 7 auto" class="border-y-transparent d-none d-lg-block">
            </div>
            <div style="flex: 2 2 auto" class="border-y-bahama-blue">
                <a href="" class="d-block border-right text-white bg-bahama-blue my-auto px-2 py-3 opacity-20">Programme
                    Schedule</a>
            </div>
            <div style="flex: 2 2 auto" class="border-y-bahama-blue">
                <a href="" class="d-block border-right text-white bg-bahama-blue my-auto px-2 py-3 opacity-20">Best
                    Paper Award</a>
            </div>
            <div style="flex: 2 2 auto" class="border-y-bahama-blue">
                <a href="" class="d-block border-right text-white bg-bahama-blue my-auto px-2 py-3 opacity-20">PPT
                    Template</a>
            </div>
            <div style="flex: 2 2 auto" class="border-y-bahama-blue">
                <a href=""
                    class="d-block border-right text-white bg-bahama-blue my-auto px-2 py-3 opacity-20">Registered
                    Papers</a>
            </div>
            <div style="flex: 2 2 auto" class="border-y-bahama-blue">
                <a href="" class="d-block text-white bg-bahama-blue my-auto px-2 py-3 opacity-20">Technical
                    Sessions</a>
            </div>
        </div>
    </section>

    <section class="container-fluid bg-bahama-blue pb-5 text-white">
        <div class="container-fluid text-center d-md-none px-0 mb-5">
            <div class="row row-cols-3 bg-bahama-blue">
                <div class="col border-right py-4 opacity-20 mt-3">
                    <div class="position-relative" style="top: 50%; transform: translateY(-50%);">
                        <a href="" class="text-white">Programme Schedule</a>
                    </div>
                </div>
                <div class="col border-left border-right py-4 opacity-20 mt-3">
                    <div class="position-relative" style="top: 50%; transform: translateY(-50%);">
                        <a href="" class="text-white">Best Paper Award</a>
                    </div>
                </div>
                <div class="col border-left py-4 opacity-20 mt-3">
                    <div class="position-relative" style="top: 50%; transform: translateY(-50%);">
                        <a href="" class="text-white">PPT Template</a>
                    </div>
                </div>
                <div class="col border-right py-4 opacity-20 mt-3">
                    <div class="position-relative" style="top: 50%; transform: translateY(-50%);">
                        <a href="" class="text-white">Registered Papers</a>
                    </div>
                </div>
                <div class="col border-left border-right py-4 opacity-20 mt-3">
                    <div class="position-relative" style="top: 50%; transform: translateY(-50%);">
                        <a href="" class="text-white">Abstract Book</a>
                    </div>
                </div>
                <div class="col border-left py-4 opacity-20 mt-3">
                    <div class="position-relative" style="top: 50%; transform: translateY(-50%);">
                        <a href="" class="text-white">Technical Sessions</a>
                    </div>
                </div>
            </div>
        </div>
        <header class="container expand pt-5">
            <h1 class="font-size-3 w-md-50 pb-5 mt-md-5"><span class="underline-white-lg">Some tagline goes here
                    conveying the core idea of this conference.</span></h1>
            <h1 class="font-size-2 font-weight-bold my-4">IEEE CICT</h1>
        </header>
        <main class="container expand my-5 pt-4">
            <p class="lead font-weight-regular m-0">CICT “The IEEE Conference on Information and Communication
                Technology” is top level International Conference covering broad topics in the areas of Information and
                Communication Technology. This Conference is started by the five MHRD funded IIITs (IIIT Allahabad, ABV-
                IIITM Gwalior, PDPM-IIITDM Jabalpur, IIITDM Kancheepuram, and IIITDM Kurnool) with an aim to provide a
                forum for researchers, industry professionals, and academicians to present and exchange their ideas
                in latest technological advancements and innovations in the field of ICT. The CICT is jointly
                organized by the five IIITs annually on rotation basis. The CICT 2017 and 2018 was hosted by
                ABV-IIITM Gwalior and PDPM-IIITDM Jabalpur, respectively. The third edition of the conference, CICT
                2019 will be hosted by IIIT Allahabad, India during December 06-08, 2019. The conference will
                feature technical paper sessions, poster sessions, and Ph.D. symposium.</p>
        </main>
        <footer class="container expand mb-5 py-5">
            <a href="" class="lead text-white underline-white d-inline font-weight-medium">Checkout our 2019 stories</a>
            <i data-feather="arrow-right" class="ml-2"></i>
        </footer>
    </section>

    <section class="container-fluid bg-catskill-white text-bahama-blue py-5">
        <header class="container expand my-5 pt-5">
            <h1 class="font-size-2 text-uppercase font-weight-bold">Updates</h1>
        </header>
        <main class="container expand">
            <div class="row justify-content-between">
                <div class="col-md-7">
                    <div class="row row-cols-1 row-cols-md-2">
                        <% for(let i = 0; i < 6; i++) { %>
                        <%- include('partials/update-card') %>
                        <% } %>
                    </div>
                    <footer class="container-fluid px-0 my-5 py-md-5 my-md-5">
                        <a href="" class="lead text-bahama-blue underline-bahama-blue d-inline font-weight-medium">View
                            More</a>
                        <i data-feather="arrow-right" class="ml-2"></i>
                    </footer>
                </div>
                <div class="col-md-4 mt-5 text-center text-md-left mt-md-0 pb-5 mb-5 align-self-center">
                    <i data-feather="globe"></i>
                    <h5 class="mt-3">Stay informed to our updates by subscribing to our notifications.</h5>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control light text-center text-md-left" id="email"
                                name="email" placeholder="example@example.com" required>
                        </div>
                        <button type="submit"
                            class="btn btn-outline-bahama-blue mt-4 font-weight-bold">Subscribe</button>
                    </form>
                </div>
            </div>
        </main>
    </section>

    <section class="container-fluid bg-white py-5" id="callForPapers">
        <header class="container expand mt-5 pt-5">
            <h1 class="font-size-2 text-uppercase font-weight-bold d-block d-sm-inline pb-4 pb-sm-0">Call for papers
            </h1>
            <a href="" class="btn btn-outline-bahama-blue ml-sm-3 font-weight-bold align-top">Download Brochure</a>
        </header>
        <main class="container expand mt-5">
            <p class="lead mt-3 font-weight-regular">IEEE SENSORS 2020 is intended to provide a forum for research
                scientists, engineers,
                and practitioners throughout the world to present their latest research findings, ideas, and
                applications in the area of sensors and sensing technology. IEEE SENSORS 2020 will include keynote
                addresses and invited presentations by eminent scientists and engineers. The conference solicits
                original state-of-the-art contributions as well as review papers.</p>
            <h1 class="font-size-2 text-uppercase my-5 font-weight-bold">Topics</h1>
            <%- include('partials/topics') %>
        </main>
        <footer class="container expand my-5 pb-5">
            <a href="" class="lead text-bahama-blue underline-bahama-blue d-inline font-weight-medium">Know More</a>
            <i data-feather="arrow-right" class="ml-2"></i>
        </footer>
    </section>

    <section class="container-fluid pt-5 bg-catskill-white text-bahama-blue pb-5 pb-30">
        <header class="container expand mt-5 pt-4">
            <h1 class="font-size-3 w-md-50 mb-4"><span class="underline-bahama-blue-lg">We are committed to bringing
                    brilliant minds together.</span></h1>
            <a href="" class="btn btn-outline-bahama-blue font-size-1 text-uppercase font-weight-bold mt-5 mb-4">Keynote
                Speakers</a>
        </header>
        <main class="container expand my-5">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
                <% for(let i = 0; i < 4; i++) { %>
                <div class="col mb-5">
                    <%- include('partials/person-card.ejs') %>
                </div>
                <% } %>
            </div>
        </main>
        <footer class="container expand mb-5 pb-5">
            <a href="" class="lead text-bahama-blue underline-bahama-blue d-inline font-weight-bold">Know More</a>
            <i data-feather="arrow-right" class="ml-2"></i>
        </footer>
    </section>

    <section class="container-fluid bg-white pb-5">
        <div class="row justify-content-between mb-5" id="parent">
            <div class="col-lg-8 d-lg-flex align-items-center bg-bahama-blue move-up py-5 py-lg-0" id="child">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 container-lg p-5 mx-0 my-5">
                    <div class="col mb-4">
                        <img src="https://picsum.photos/200/200" class="card-img-top rounded-0" alt="">
                    </div>
                    <div class="col mb-4">
                        <img src="https://picsum.photos/200/200" class="card-img-top rounded-0" alt="">
                    </div>
                    <div class="col mb-4">
                        <img src="https://picsum.photos/200/200" class="card-img-top rounded-0" alt="">
                    </div>
                    <div class="col mb-4 mb-sm-0">
                        <img src="https://picsum.photos/200/200" class="card-img-top rounded-0" alt="">
                    </div>
                    <div class="col mb-4 mb-sm-0">
                        <img src="https://picsum.photos/200/200" class="card-img-top rounded-0" alt="">
                    </div>
                    <div class="col mb-4 mb-sm-0">
                        <img src="https://picsum.photos/200/200" class="card-img-top rounded-0" alt="">
                    </div>
                </div>
                <div class="container px-5 text-center text-lg-left bg-bahama-blue text-white d-lg-none pb-5 pb-lg-0">
                    <i data-feather="share-2"></i>
                    <h5 class="my-4 font-weight-medium">How excited are you? </h5>
                    <h5>Download your personalised <strong>excitement pass</strong> and post it on social media.</h5>
                    <button class="btn btn-outline-white font-weight-bold my-5">Download</button>
                </div>
            </div>
            <div class="col-lg-4 px-5 d-none d-lg-block text-center text-lg-left p-5">
                <i data-feather="share-2"></i>
                <h5 class="my-4 font-weight-medium">How excited are you? </h5>
                <h5>Download your personalised <strong>excitement pass</strong> and post it on social media.</h5>
                <button class="btn btn-outline-bahama-blue font-weight-bold mt-3">Download</button>
            </div>
        </div>
    </section>

    <section class="container-fluid pt-4 pb-5 bg-white">
        <header class="container expand">
            <h1 class="font-size-3 w-md-50 pb-5"><span class="underline-bahama-blue-lg">We are thankful to those who
                    make
                    it possible.</span></h1>
            <h1 class="font-size-2 font-weight-bold my-4">SPONSORS</h1>
        </header>
        <main class="container expand mt-5 pb-5 mb-5">
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae quam inventore dicta atque
                deleniti? Sed repellat tenetur id magnam impedit cupiditate, natus, debitis optio nisi ipsa qui labore
                animi incidunt.</p>
        </main>
    </section>

    <%- include('partials/footer') %>